.formations_selectors {
    margin: 50px auto 0 0;
    width: 100%;
    display: flex;
    gap: 10px;
}

.formations_selectors button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--c-primary-color);
    color: var(--c-text-color-nav);
    min-width: 130px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.formations_selectors button.active {
    background: var(--c-secondary-color);
}

.liste_formations {
    margin: 15px auto 0;
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
}

.liste_formations .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.liste_formations .right {
    position: sticky !important;
    top: 145px !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    max-width: 450px;
    gap: 20px;
}

.liste_formations .right .carte_formation {
    background: var(--c-primary-color);
    color: var(--c-text-color);
}

.formation_option {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.formation_option.active {
    display: flex;
}

.carte_formation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background: var(--c-card);
    border-radius: 6px;
    gap: 5px;
    color: var(--c-text-color);
    box-shadow: var(--c-box-shadow);
}

.carte_formation h3 {
    text-transform: uppercase;
    color: var(--c-primary-color);
    font-size: 25px;
}

.liste_formations .right .carte_formation h3 {
    color: var(--c-text-color);
}

.carte_formation a {
    margin: 100px auto 0;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background: var(--c-primary-color);
    color: var(--c-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.carte_formation .categorie {
    margin: 20px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carte_formation .categorie h4 {
    color: var(--c-secondary-color);
    text-transform: uppercase;
    font-size: 20px;
}

.carte_formation p:first-of-type {
    margin: 15px auto 0 0;
}

@media (max-width:650px) {
    .liste_formations {
        flex-direction: column;
    }

    .liste_formations .right {
        max-width: none;
    }
}
