.liste_formations {
    margin: 50px auto 0;
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
}

.liste_formations .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.liste_formations .right {
    position: sticky !important;
    top: 145px !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    max-width: 450px;
    gap: 20px;
}

.liste_formations .right .carte_formation {
    background: var(--c-primary-color);
    color: var(--c-text-color);
}

.carte_formation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background: var(--c-nav);
    border-radius: 6px;
    gap: 5px;
    color: var(--c-text-color);
}

.carte_formation h3 {
    text-transform: uppercase;
    /* color: var(--c-primary-color); */
}

.carte_formation a {
    margin: 100px auto 0;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background: var(--c-primary-color);
    color: var(--c-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}