@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--c-background);
}

.main {
    margin: 115px auto 0;
    width: 100%;
    min-height: calc(100vh - 340px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

svg {
    vertical-align: middle;
}

:root {
    /*!--------- Couleurs ---------!*/
    --c-background: #18181a;
    --c-nav: #131315;

    --c-text-color: #fff;
    --c-text-color-footer: #666666;

    --c-border-color: #2B2E39;

    --c-primary-color: #00b7ff;
    --c-secondary-color : #003566;
    --c-tertiary-color: #001022;

    /*!--------- Boîtes d'ombres ---------!*/
    --c-box-shadow-grey: 5px 5px 20px var(--c-grey);
}