@import url('init.css');
@import url('navbar.css');
@import url('footer.css');

section {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

section h2 {
    margin: 0 auto;
    color: var(--c-text-color);
}

section h2 span {
    color: var(--c-primary-color);
}

.back {
    display: flex;
    gap: 7px;
    font-size: 13px;
    color: var(--c-text-color);
}

.back a {
    color: var(--c-primary-color);
}

.back a:hover {
    text-decoration: underline;
}